.container {
    flex: 1 1;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    margin: 50px auto;
}

@media (min-width: 760px) {
    .container {
        width: 760px;
    }
}