.card {
    padding: 2px;
    border-radius: 10px;
    box-shadow: 0 3px 6px rgba(0,0,0,.16), 0 3px 6px rgba(0,0,0,.23);
    margin: 0px 20px 30px 20px;
}

.card:hover {
    transform: scale(1.1);
    box-shadow: 0 6px 12px rgba(0,0,0,.32), 0 6px 12px rgba(0,0,0,.46);
    transition-duration: 150ms;
}

.cardShake {
    position: relative;
    transition: 2s ease;
    animation: cardShake 250ms forwards 2;
}

@keyframes cardShake {
    0% { left: 0px }
    12.5% { left: 5px }
    25% { left: 10px }
    37.5% { left: 5px }
    50% { left: 0px }
    62.5% { right: 5px }
    75% { right: 10px }
    87.5% { right: 5px }
    100% { right: 0px }
}